<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Dashboard - Login</title>
</head>

<body>

    <div class="con" style="width: 100%;height: 500px ;display: flex;justify-content: center;align-items: center;">
        <div id="logo">
            <img src="../static/fontes/logo.jpg" alt="">
        </div>
        <div id="form_con" style="text-align: center;">
            <h3 style="margin: auto;">login</h1>
                <form action="" method="post" id="form">

                    <div class="mb-13">
                        <label for="usuario" class="form-label">User</label>
                        <input type="text" class="form-control" name="user" id="usuario" aria-describedby="usuario">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary" name="logar">Entrar</button>
                </form>
        </div>

    </div>
    <div class="svg-container">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 200" fill="#3F7CAC">
            <path d="M0 100 Q100 50 200 100 T400 100 T600 100 T800 100 T1000 100 T1200 100 V200 H0 Z" />
        </svg>
    </div>
</body>

</html>