{% extends 'base.html' %}
{% block title %} {{ super() }} - Postos {% endblock %}
{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="margin-bottom: 100px;">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro_dash.css') }}">
    <form method="post" action="{{ url_for('postos') }}">
        <button type="submit">Sincronizar Dados</button>
    </form>
    <table>
        <tr>
            <th>Nome</th>
            <th>CNPJ</th>
            <th>STID</th>
            <th>BSID</th>
            <th>EC</th>
            <th>Rede</th>
            <th>Fabricante</th>
            <th>Serial Number</th>
            <th>Modelo da Automação</th>
            <th>Bandeira</th>
            <th>Provider</th>
            <th>Resultado Ativação</th>
        </tr>
        {% for posto in api_data %}
        <tr>
            <td>{{ posto.nome }}</td>
            <td>{{ posto.cnpj }}</td>
            <td>{{ posto.stid }}</td>
            <td>{{ posto.bsid }}</td>
            <td>{{ posto.ec }}</td>
            <td>{{ posto.rede }}</td>
            <td>{{ posto.fabricante }}</td>
            <td>{{ posto.serial_number }}</td>
            <td>{{ posto.modelo_automacao }}</td>
            <td>{{ posto.bandeira }}</td>
            <td>{{ posto.provider }}</td>
            <td>{{ posto.resultado_ativacao }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
