{% extends 'base.html' %}
{% block title %} {{ super() }} - Postos {% endblock %}
{% block content %}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="margin-bottom: 100px;">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro_dash.css') }}">
    <form method="post" action="{{ url_for('postos') }}">
        <button type="submit">Sincronizar Dados</button>
    </form>
    {% macro get_field_value(ticket, field_id) %}
    {% for entity in ticket.entities %}
        {% for field in entity.fields %}
            {% if field.field_id == field_id %}
                {% if field.field_type == 'single_select' %}
                    {% for option in field.options %}
                        {% if option.value == 'true' %}
                            {{ option.option_name or option.value }}
                        {% endif %}
                    {% endfor %}
                {% elif field.field_type == 'checkbox' %}
                    {% for option in field.options %}
                        {% if option.value == 'true' %}
                            {{ option.option_name or option.value }}
                        {% endif %}
                    {% endfor %}
                {% elif field.field_type == 'text' %}
                    {{ field.options.0.value or '' }}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endmacro %}
{% if api_data %}
        <div class="card-container">
            {% for ticket in api_data %}
                <div class="card">
                    <div class="card-item">
                        <span class="label">Nome:</span>
                        <span class="value">{{ ticket.title.split('-')[0] | trim }}</span>
                    </div>
                    <div class="card-item">
                        <span class="label cnpj">CNPJ:</span>
                        <span class="value">{{ get_field_value(ticket, 12477) }}</span>
                    </div>
                    <div class="card-item">
                        <span class="label stid">STID:</span>
                        <span class="value">{{ get_field_value(ticket, 12479) }}</span>
                    </div>
                    <!-- Adicione mais campos conforme necessário -->
                    <div class="card-item">
                        <span class="label bsid">BSID:</span>
                        <span class="value">{{ get_field_value(ticket, 12480) }}</span>
                    </div>
                    <div class="card-item">
                        <span class="label ec">EC:</span>
                        <span class="value">{{ get_field_value(ticket, 12478) }}</span>
                    </div>
                    <div class="card-item">
                        <span class="label rede">Rede:</span>
                        <span class="value">{{ get_field_value(ticket, 12482) }}</span>
                    </div>
                    <div class="card-item">
                        <span class="label fabricante">Fabricante:</span>
                        <span class="value">{{ get_field_value(ticket, 5307) }}</span>
                    </div>
                    <div class="card-item">
                        <span class="label serial-number">SerialNumber:</span>
                        <span class="value">{{ get_field_value(ticket, 5313) }}</span>
                    </div>
                    <div class="card-item">
                        <span class="label modelo">Modelo da Automação:</span>
                        <span class="value">{{ get_field_value(ticket, 5311) }}</span>
                    </div>
                    <div class="card-item">
                        <span class="label bandeira">Bandeira:</span>
                        <span class="value">{{ get_field_value(ticket, 12481) }}</span>
                    </div>
                    <div class="card-item">
                        <span class="label provider">Provider:</span>
                        <span class="value">{{ get_field_value(ticket, 5312) }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="no-data">Nenhum dado disponível.</p>
    {% endif %}
                       

</main>

    {% endblock %}